<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/images/favico.ico" />
        <link rel="stylesheet" href="/css/paper.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {{!-- <link rel="stylesheet" href="/css/style.css" /> --}}
            <title>{{title}}</title>
        </head> 
    <body>
        <div class="container paper">

            {{{body}}}
        </div>

    </body>
</html>
