<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/images/favico.ico" />
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.5.1/dist/paper.css" media="all" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title> {{title}} </title>
</head>
<header>
    <br>
    <a href="/" class="paper-btn">Home</a>
</header>
<hr>

<body>

    <div class="container paper">

        {{{body}}}
        <hr>
        <footer align="center"> &copy; <a href="https://twitter.com/kvng_zeez">Made with &#x1F48C; by Abdulazeez Abdulazeez Adeshina in &#x1F1F3;&#x1F1EC; </a></footer>
    </div>

</body>

</html>