<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/images/favico.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/paper.css" />
        <link rel="stylesheet" href="/css/style.css" />
            <title>Example App</title>
        </head> 
    <body>
        <div class="container paper">

            {{{body}}}
        </div>

    </body>
</html>
