<p>Hi, Your application has been received, check your email inbox or spam box for your confirmation email</p>

<h5>You can login using the button below</h5>

<button align="center"><a href="/login">Login</a></button>