<h1>My Dashboard</h1>
<aside align="right">Score: 5/10</aside>
<aside align="right"><a href="/profile" class="paper-btn" method="post">View my profile</a></aside>
<p>Play my quiz ? Click the button to start the quiz</p>
<form action="/start" method="post">
    <button type="submit">Start</button>
</form>
