
    <h1>Simple Quiz App</h1>
    <p>Welcome to my simple quiz app.. It's a quiz about me, it has just ten basic questions . More will be added soon</p>
    <p>Well, it doesn't have enough stuff yet.. Work in progress <progress>60</progress></p>
        <a href="/login" class="paper-btn">Start</a>
