
    <h1>Simple Quiz App</h1>
    <p>Welcome to my simple quiz app.. It's a quiz about me, it has just ten basic questions . More will be added soon</p>

    <b>Are you ready for my simple but tricky test ? </b>

    <p>If yes, Click the button below to start</p>

    <a href="/login" class="paper-btn">Start</a>
