<title>{{ title }} </title>
<h2 align="center">Login</h2>
<p>Fill in your details to log in your dashboard</p>
<form action="/profile" method="post">
    <label for="email">Email: <input type="email" name="email" id="email"></label><br>
    <label for="password">Password: <input type="password" name="password" id="password"></label>
    <input type="submit" value="Submit">
    <h4>Don't have an account yet.. ? <a href="/register">Register</a></h4>
</form>