<h2 align="center">Login</h2>
<p>Fill in your details to log in your dashboard</p>
<form action="dashboard" method="post">

    <label for="username">Username: <input type="text" name="username" id="uname"></label><br>
    <label for="password">Password: <input type="password" name="password" id="pass"></label>
    <input type="submit" value="Submit">
</form>