{{{body}}}

{{!-- <nav align="right"><a type="button" href="/logout" class="paper-btn">Logout</a></nav>
<h4>My Details</h4><b><strong>Name: </strong>' + user.username + '<br /><br /><strong> E-Mail: </strong>' + user.email + '<br /><br /></b>
<align>Score : </align>' + user.score + '
<hr>
<p> Want to take my simple test ? Click the button below to begin !</p>
<form action="start" method="POST"><button type="submit">Start</button></form> --}}