<nav align="right"><a type="button" href="/logout" class="paper-btn">Logout</a></nav>
<h4>My Details</h4><b><strong style="font-family: Operator Mono">Username: </strong>{{ username }}<br /><br /><strong style="font-family: Operator Mono"> E-Mail: </strong>{{ useremail }}<br /><br /></b>
<strong><align style="font-family: Operator Mono">Score : </align></strong> {{ userscore }}
<p> Want to take my simple test ? Click the button below to begin !</p>
<form action="start" method="POST"><button type="submit">Start</button></form> 