<h4>My Profile.</h4>
<ul>
    <ul>
        <b>
            <li>Name: Abdulazeez Adeshina Abdulazeez</li>
            <li>UserName: @Kvng_Laisi</li>
            <li>Age: 15</li>
            <li>Sex: Male</li>
            <li>Score: 10/10</li>
        </b>

    </ul>
</ul>