<style>
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .form {
        font-family: 'cursive';
    }
</style>

<h2 align="center">Registration</h2>
<b>Fill in the form below and click the submit button when you're done.</b>
<div class="form rows" align="center">

    <form action="/confirm" method="post">
     <b>
        Name: <input type="text" name="name" id="name" placeholder="e.g Abdulazeez Azeez" required />
        Username: <input type="text" name="username" id="username" placeholder="e.g Laisi" required />
        Password: <input type="password" name="password" id="password" required />
        Email: <input type="email" name="email" id="email" placeholder="e.g laisi@me.com" required />
        Phone Number: <input type="number" name="phone_no" id="phone_no" required />
     </b>
        <button type="submit">Submit</button>
    </form>

</div>