<h2>Reset Password</h2>
<p>Enter your registered mail address below to receive a password recovery link.</p>
<form action="reset_pass" method="post">
    <input type="email" name="email" id="mail" required>
    <button type="submit">Get Link</button>
</form>