<h3>Your score.</h3>
    <nav align="right"><a type="button" href="/profile" class="paper-btn">&rarrc; Back to your profile</a></nav><br>
Hi, your total score from the quiz section is <b>{{ score }}</b>.
<br><br>
