<title>{{ title }}</title>
<h2>Welcome to the quiz</h2>
<p>This is a quiz about me. It has just 10 questions.</p>
<h6 id="test">To start the quiz, click the button below</h6>
<p class="paper-btn" title="Start" id="start">Start</p>
<div style="display: none" id="show">
    <form action="/score" method="POST" id="quiz">
        <b>Instructions :</b>
        <p>1. Do Not Refresh the page</p>
        <h2> Questions </h2>
        <ol>
            <label for="question1">Question 1. </label>
            <b>Who am i ?</b>
            <ul id="q1">
                <li>
                    <input type="checkbox" name="answer[1][]" value="abdul" />Abdul
                    <input type="checkbox" name="answer[1][]" value="tawa" />Tawa
                    <input type="checkbox" name="answer[1][]" value="safu" />Safu
                    <input type="checkbox" name="answer[1][]" value="sule" />Sule
                </li>
            </ul>

            <label for="Question2"> Question 2.
            <b>How old am i ?</b>
                <ul id="q2">
                    <li>
                        <input type="checkbox" name="answer[2][]" value="10"/>10
                        <input type="checkbox" name="answer[2][]" value="20"/>20
                        <input type="checkbox" name="answer[2][]" value="15"/>15
                        <input type="checkbox" name="answer[2][]" value="19"/>19
                    </li>
                </ul>
        </label>
            <label for="Question3"> Question 3.
            <b>How many sisters do i have ? </b>
                <ul id="q3">
                    <li>
                        <input type="checkbox" name="answer[3][]" value="6"/>6
                        <input type="checkbox" name="answer[3][]" value="8"/>8
                        <input type="checkbox" name="answer[3][]" value="2"/>2
                        <input type="checkbox" name="answer[3][]" value="3"/>3
                    </li>
                </ul>
        </label>
            <label for="Question4"> Question 4.
            <b>What's my hobby ?</b>
                <ul id="q4">
                    <li>
                        <input type="checkbox" name="answer[4][]" value="eating"/>Eating
                        <input type="checkbox" name="answer[4][]" value="programming"/>Programming
                        <input type="checkbox" name="answer[4][]" value="sleeping"/>Sleeping
                        <input type="checkbox" name="answer[4][]" value="writing"/>Writing
                    </li>
                </ul>
        </label>
            <label for="Question5"> Question 5
            <b>What's my favorite text editor ?</b>
                <ul id="q5">
                    <li>
                        <input type="checkbox" name="answer[5][]" value="vscode"/>Visual Studio Code
                        <input type="checkbox" name="answer[5][]" value="sublime"/>Sublime
                        <input type="checkbox" name="answer[5][]" value="wordpad"/>Wordpad
                        <input type="checkbox" name="answer[5][]" value="notepad"/>Notepad
                    </li>
                </ul>
        </label>
            <label for="Question6"> Question 6
            <b>What is my favorite programming language ?</b>
                <ul id="q6">
                    <li>
                        <input type="checkbox" name="answer[6][]" value="cpp"/>C++
                        <input type="checkbox" name="answer[6][]" value="c#"/>C#
                        <input type="checkbox" name="answer[6][]" value="php"/>Php
                        <input type="checkbox" name="answer[6][]" value="js"/>JavaScript
                    </li>
                </ul>
        </label>
            <label for="Question7"> Question 7
            <b>What was the first Unique programming language i learnt ?</b>
                <ul id="q7">
                    <li>
                        <input type="checkbox" name="answer[7][]" value="java"/>Java
                        <input type="checkbox" name="answer[7][]" value="cpp"/>C++
                        <input type="checkbox" name="answer[7][]" value="ruby"/>Ruby
                        <input type="checkbox" name="answer[7][]" value="python"/>Python
                    </li>
                </ul>
        </label>
            <label for="Question8"> Question 8
            <b>What is my favorite framework ?</b>
                <ul id="q8">
                    <li>
                        <input type="checkbox" name="answer[8][]" value="express"/>ExpressJS
                        <input type="checkbox" name="answer[8][]" value="none"/>None
                        <input type="checkbox" name="answer[8][]" value="adonisJs"/>AdonisJs
                        <input type="checkbox" name="answer[8][]" value="hapi"/>Hapi
                    </li>
                </ul>
        </label>
            <label for="Question9"> Question 9
            <b>I am a _______ guy .</b>
                <ul id="q9">
                    <li>
                        <input type="checkbox" name="answer[9][]" value="cool"/>Cool
                        <input type="checkbox" name="answer[9][]" value="gentle"/>Gentle
                        <input type="checkbox" name="answer[9][]" value="stubborn"/>Stubborn
                        <input type="checkbox" name="answer[9][]" value="problematic"/>Problematic
                    </li>
                </ul>
        </label>
            <label for="Question10"> Question 10
            <b>Rate my app over 10.</b>
                <ul id="q10">
                    <li>
                        <input type="checkbox" name="answer[10][]" value="1" />1
                        <input type="checkbox" name="answer[10][]" value="5" />5
                        <input type="checkbox" name="answer[10][]" value="9" />9
                        <input type="checkbox" name="answer[10][]" value="10" />10
                    </li>
                </ul>
        </label>
        </ol>
        <button type="submit" id="submit">Submit</button> {{!-- <input type="button" value="Submit" id="submit"> --}} {{!-- <button type="submit">Submit</button> --}} {{!--
        <p name="score" value="1">1</p> --}}
    </form>
</div>
<script src="/js/script.js"></script>